<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="hanhan_leccion2" frontName="hanhan_leccion2">
            <module name="Hanhan_Leccion2"/>
        </route>
    </router>
</config>
